@{
    ViewData["Title"] = "Register URLs";
}

<div class="text-center">
    <h1 class="display-4">Register URLs</h1>
    <div class="card card-body mb-5">
        <button class="btn btn-primary" id="register">Register URL</button>
    </div>
    <div class="card card-body" id="feedback"></div>
</div>
